apiVersion: v1
kind: Secret
metadata:
  name: bot-secrets
data:
  slackBotToken: eGXXX
  slackBotId: VTXXX
  spoonacularKey: dnXXX
  conversationUsername: ZTXXX
  conversationPassword: N2XXX
  conversationWorkspaceId: YmXXX
  cloudantUsername: OWXXX
  cloudantPassword: M2XXX
  cloudantUrl: aHXXX
  cloudantDbName: d2XXX